#copy this to /etc/systemd/system, and run

#sudo systemctl daemon-reload
#sudo systemctl [start|stop|restart|status] this_service
#sudo systemctl enable this_service #to start on boot

[Unit]
Description=HPC Dashboard Webserver
After=network.target

[Service]
ExecStart=/home/qcadmin/dashboard2/run_server.sh
WorkingDirectory=/home/qcadmin/dashboard2
Restart=on-failure
User=qcadmin
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target


